.Image1 {
  width:1000px;
  height:500px;
  float:right;
}

.Image2 {
  width:5000px;
  height:1000px;
  float:left;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  border-radius: 10px;
}

th, td {
  background-color: rgb(107, 200, 228);
}
